.bar-box{
    /* height:400px !important; */
    background-color: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    border-radius: 10px !important;
    margin-bottom: 40px !important;
}

.bar-chart{
    margin : 0px !important;
    width : 100% !important;
    height:400px !important;
}
.selectitem{
    font-size: 16px !important;
    font-weight: 500 !important;
    border : 0px  !important;
}
.tableRow:nth-child(odd){
    background-color:rgb(242, 250, 247);
}
.tableRow:nth-child(even){
    background-color:rgb(224, 224, 221);
}