.btn-div{
    margin: 5px !important;
   
}
.btn{
    width: auto !important;
    height: 20px !important;
}
.css-1uprd2n-MuiPaper-roo{
    padding: 11px 4px !important;
}
.select{
    margin-left: 2rem !important;
}
.css-1s2u09g-control{
    height: 50px !important;
}